[submodule "components/libwally-core/upstream"]
	path = components/libwally-core/upstream
	url = https://github.com/elementsProject/libwally-core
[submodule "pinserver"]
	path = pinserver
	url = https://github.com/Blockstream/blind_pin_server
[submodule "components/esp32_bsdiff"]
	path = components/esp32_bsdiff
	url = https://github.com/Blockstream/esp32_bsdiff
[submodule "components/esp32_deflate"]
	path = components/esp32_deflate
	url = https://github.com/Blockstream/esp32_deflate
[submodule "components/esp32_bc-ur"]
	path = components/esp32_bc-ur
	url = https://github.com/Blockstream/esp32_bc-ur
[submodule "components/axp192"]
	path = components/axp192
	url = https://github.com/tuupola/axp192
[submodule "components/esp_i2c_helper"]
	path = components/esp_i2c_helper
	url = https://github.com/tuupola/esp_i2c_helper